+++
title = "Trisect"
linkTitle = "Trisect"
+++

{{< blocks/cover title="Trisect!" image_anchor="top" height="half" color="primary">}}
	<!-- <div class="mx-auto"> -->
	<!--	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Docs <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a> -->
	<!-- <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Porridge temperature assessment - in the cloud!</p> -->
	<!-- {{< blocks/link-down color="info" >}} -->
	<!-- </div> -->
	{{< /blocks/cover>}}

		{{< blocks/lead color="primary">}}
			<div>
				<p>Trisect is a three-camera computer vision development platform based on off-the-shelf
					(and whenever possible, Open Source) hardware and software. We have developed it to
					enable novel underwater perception research, but the core hardware and software design
					can be used in any domain.</p>

				<p>Read about: the <a href="{{< ref "docs">}}">Trisect Overview,</a>
				<a href="{{< ref "Hardware">}}">Hardware,</a> and
				<a href="{{< ref "Software_User">}}">Software.</a></p>

				<p>See the <a href="{{< relref "Bill_of_Materials">}}">bill of materials</a> to build your own.</p>
			</div>

			<!-- Contribute to the Trisect project. -->

			{{< /blocks/lead>}}

				{{< blocks/section color="dark">}}


					<p>
						Key specs:
					</p>

					<p class="mt-3">
					<ul>
						<li>NVidia Jetson Xavier NX</li>
						<li>Stereo Allied Vision Alvium CSI machine vision cameras</li>
						<ul>
							<li>We're currently using the Sony IMX392: 1936 (H) × 1216 (V) monochrome,
								global shutter.</li>
							<li>Other Alvium CSI-2 cameras should also be compatible. </li>
						</ul>
						<li>Color operator camera (Sony IMX477): 12.3MP</li>
						<li>Approx 70deg FOV on all three sensors</li>
						<li>Internal storage (via M.2 SSD)</li>
						<li>Gigabit ethernet</li>
					</ul>
					</p>

					<!-- {{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}} -->


					{{< /blocks/section>}}


						{{< blocks/section color="primary">}}
							<div class="col">

								<p>
									Trisect is:
								</p>

								<p class="mt-3">
								<ul>
									<li>A tool for shallow, underwater stereo video data collection,</li>
									<li>A platform for developing embedded, ROS-based computer vision systems.</li>
									<li>An open-source reference design for a Jetson + two Allied Vision Alvium camera
										stereo system, with an optional third color camera.</li>
								</ul>
								</p>
							</div>

							<div class="col">
								<p>
									Trisect is <bf>not</bf>:
								</p>

								<p class="mt-3">
								<ul>
									<li>A turnkey, commercially-support camera system.</li>
								</ul>
								</p>
							</div>

							{{< /blocks/section>}}



								<!--{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}} -->
